/*** Fonts ***/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
/*** Variables ***/
/*** Global Style ***/
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
li,
p,
a,
span {
  font-family: "Poppins";
}

button {
  border: none;
  background: none;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 18px;
  font-weight: 600;
  color: white;
}

h2 {
  font-weight: 500;
  font-size: 18px;
  color: #564e4e;
  margin-bottom: 20px;
}

h5 {
  font-size: 14px;
  font-weight: 500;
  color: #564e4e;
}

@media only screen and (min-width: 1120px) {
  h1 {
    font-size: 32px;
  }
  h2 {
    font-size: 24px;
  }
  h5 {
    font-size: 18px;
  }
}
@media only screen and (min-width: 1920px) {
  h1 {
    font-size: 48px;
  }
  h2 {
    font-size: 36px;
  }
  h5 {
    font-size: 24px;
  }
}
/*** Common class ***/
.container {
  max-width: 335px;
  margin: auto;
}

.common-pera {
  font-size: 12px;
  font-weight: 400;
  color: #564e4e;
  line-height: 18px;
}

.small-text {
  font-size: 12px;
  font-weight: 300;
  color: #564e4e;
}

@media only screen and (min-width: 1120px) {
  .container {
    max-width: 1020px;
  }
  .common-pera {
    font-size: 16px;
    line-height: 24px;
  }
  .small-text {
    font-size: 14px;
  }
}
@media only screen and (min-width: 1920px) {
  .container {
    max-width: 1760px;
  }
  .common-pera {
    font-size: 18px;
    line-height: 200%;
  }
}
header {
  height: 100vh;
  background-image: url("../images/main-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  isolation: isolate;
}
header::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: black;
  opacity: 0.5;
  z-index: -1;
}
header .navber {
  padding: 15px 0px;
}
header .navber .container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}
header .navber .container .main-logo {
  width: 86px;
}
header .navber .container .main-logo img {
  width: 100%;
}
header .navber .container .link-wrap {
  display: none;
}
header .navber .container .btn-wrap {
  display: flex;
  flex-flow: row wrap;
  column-gap: 10px;
  align-items: center;
}
header .navber .container .btn-wrap button span {
  color: white;
  font-size: 18px;
}
header main {
  margin-top: 30px;
  margin-bottom: 122px;
  width: 100%;
}
header main .container {
  text-align: center;
}
header main .container h1 {
  font-size: 18px;
  font-weight: 600px;
  display: flex;
  flex-flow: column wrap;
}
header main .container p {
  color: white;
  padding: 20px;
}
header main .container .search-wrap {
  width: 280px;
  height: 38px;
  background: rgba(255, 255, 255, 0.5);
  border: 1px solid #ffffff;
  border-radius: 30px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 5px 5px 10px;
}
header main .container .search-wrap input {
  background: none;
  border: none;
}
header main .container .search-wrap ::placeholder {
  color: white;
  font-size: 10px;
}
header main .container .search-wrap button {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: #faf6f3;
  border: none;
}
header main .container .search-wrap button span {
  color: #564e4e;
}

@media only screen and (min-width: 1120px) {
  header::after {
    opacity: 0.2;
  }
  header .navber {
    padding: 30px 0px;
  }
  header .navber .container {
    justify-content: space-between;
  }
  header .navber .container .main-logo {
    width: 100px;
  }
  header .navber .container .link-wrap {
    display: block;
  }
  header .navber .container .link-wrap ul {
    display: flex;
    column-gap: 50px;
  }
  header .navber .container .link-wrap ul li a {
    color: white;
  }
  header .navber .container .btn-wrap .show-btn {
    display: none;
  }
  header main {
    margin-top: 100px;
    margin-bottom: 122px;
    width: 100%;
  }
  header main .container {
    text-align: center;
  }
  header main .container h1 {
    font-size: 36px;
  }
  header main .container p {
    padding: 30px 0px 45px 0px;
    display: flex;
    flex-flow: column wrap;
  }
  header main .container .search-wrap {
    width: 330px;
    height: 45px;
    padding: 8px 8px 8px 15px;
  }
  header main .container .search-wrap ::placeholder {
    font-size: 12px;
  }
  header main .container .search-wrap button {
    width: 34px;
    height: 34px;
  }
}
@media only screen and (min-width: 1920px) {
  header .navber {
    padding: 40px 0px;
  }
  header .navber .container .main-logo {
    width: 119px;
  }
  header .navber .container .link-wrap ul {
    display: flex;
    column-gap: 60px;
  }
  header main {
    margin-top: 167px;
  }
  header main .container h1 {
    font-size: 48px;
  }
  header main .container p {
    padding: 40px 0px 60px 0px;
  }
  header main .container .search-wrap {
    width: 360px;
    height: 60px;
    padding: 11px 8px 11px 20px;
  }
  header main .container .search-wrap ::placeholder {
    font-size: 14px;
  }
  header main .container .search-wrap button {
    width: 38px;
    height: 38px;
  }
}
/*** Why choosing us ***/
#why-choosing-us {
  padding: 40px 0px 100px 0px;
}
#why-choosing-us .card-wrap {
  display: flex;
  flex-flow: column wrap;
  row-gap: 16px;
}
#why-choosing-us .card-wrap .card {
  width: 335px;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-flow: column wrap;
  row-gap: 10px;
}
#why-choosing-us .card-wrap .card img {
  width: 28px;
}
#why-choosing-us .card-wrap .card .font-bold {
  font-weight: 500;
}
#why-choosing-us .card-wrap .card a {
  font-size: 12px;
  font-weight: 400;
  color: #f79489;
}
#why-choosing-us .card-wrap .card:nth-child(1) {
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid #fadcd9;
  box-shadow: 4px 2px 10px 2px rgba(247, 148, 137, 0.2);
}
#why-choosing-us .card-wrap .card:hover {
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid #fadcd9;
  box-shadow: 4px 2px 10px 2px rgba(247, 148, 137, 0.2);
}

@media only screen and (min-width: 1120px) {
  #why-choosing-us {
    padding: 55px 0px 150px 0px;
  }
  #why-choosing-us .card-wrap {
    flex-flow: row wrap;
    column-gap: 20px;
  }
  #why-choosing-us .card-wrap .card {
    width: 240px;
  }
  #why-choosing-us .card-wrap .card img {
    width: 40px;
  }
  #why-choosing-us .card-wrap .card a {
    font-size: 14px;
    margin-top: auto;
  }
}
@media only screen and (min-width: 1920px) {
  #why-choosing-us {
    padding: 76px 0px 200px 0px;
  }
  #why-choosing-us .card-wrap {
    column-gap: 20px;
  }
  #why-choosing-us .card-wrap .card {
    width: 425px;
    height: 280px;
    padding: 15px 20px 20px 20px;
  }
  #why-choosing-us .card-wrap .card img {
    width: 60px;
  }
  #why-choosing-us .card-wrap .card a {
    font-size: 18px;
  }
}
/*** visualize idea ***/
#visualize-idea .container .img-wrap {
  width: 335px;
  margin-bottom: 100px;
}
#visualize-idea .container .img-wrap img {
  width: 100%;
}
#visualize-idea .container .content-wrap {
  max-width: 335px;
}
#visualize-idea .container .content-wrap .category-wrap {
  margin-top: 40px;
  display: flex;
  flex-flow: column wrap;
  row-gap: 20px;
}
#visualize-idea .container .content-wrap .category-wrap .category .title {
  display: flex;
  justify-content: space-between;
}
#visualize-idea .container .content-wrap .category-wrap .category .title button span {
  color: #f79489;
  font-size: 12px;
}
#visualize-idea .container .content-wrap .category-wrap a {
  color: #f79489;
  font-size: 12px;
}

.category-text {
  font-size: 12px;
  font-weight: 300;
  margin-top: 10px;
  margin-bottom: 20px;
  display: none;
}

.show-text .category-text {
  display: block;
}

.minus-icon {
  display: none;
}

.show-text .minus-icon {
  display: inline;
}

.show-text .plus-icon {
  display: none;
}

@media only screen and (min-width: 1120px) {
  #visualize-idea .container {
    display: flex;
    flex-flow: row wrap;
    column-gap: 30px;
  }
  #visualize-idea .container .img-wrap {
    width: 455px;
    height: 360px;
    margin-bottom: 0px;
    order: 2;
  }
  #visualize-idea .container .img-wrap img {
    height: 100%;
  }
  #visualize-idea .container .content-wrap {
    max-width: 535px;
  }
  #visualize-idea .container .content-wrap .category-wrap {
    margin-top: 20px;
    order: 1;
  }
  #visualize-idea .container .content-wrap .category-wrap .category .title button span {
    font-size: 14px;
  }
  #visualize-idea .container .content-wrap .category-wrap a {
    font-size: 14px;
  }
  .category-text {
    margin-bottom: 0px;
    font-size: 14px;
  }
}
@media only screen and (min-width: 1920px) {
  #visualize-idea .container {
    column-gap: 84px;
  }
  #visualize-idea .container .img-wrap {
    width: 870px;
    margin-bottom: 100px;
    height: initial;
  }
  #visualize-idea .container .img-wrap img {
    height: initial;
  }
  #visualize-idea .container .content-wrap {
    max-width: 806px;
  }
  #visualize-idea .container .content-wrap .category-wrap {
    margin-top: 40px;
    display: flex;
    flex-flow: column wrap;
    row-gap: 20px;
  }
  #visualize-idea .container .content-wrap .category-wrap .category .title button span {
    font-size: 16px;
  }
  #visualize-idea .container .content-wrap .category-wrap a {
    font-size: 18px;
  }
  .category-text {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 18px;
  }
}
/*** Featured Product ***/
#featured-product {
  padding: 100px 0px 100px 0px;
}
#featured-product h2 {
  text-align: center;
}
#featured-product .product-wrap {
  display: flex;
  flex-flow: row wrap;
  column-gap: 10px;
  row-gap: 15px;
}
#featured-product .product-wrap .product {
  width: 162px;
}
#featured-product .product-wrap .product .img-wrap {
  width: 162px;
  height: 154px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  background-color: #f6f6f6;
}
#featured-product .product-wrap .product .img-wrap img {
  width: 96px;
}
#featured-product .product-wrap .product .content {
  padding: 20px;
  display: flex;
  flex-flow: column wrap;
  row-gap: 10px;
}
#featured-product .product-wrap .product .content p:nth-child(1) {
  font-size: 14px;
}
#featured-product .product-wrap .product .content p:nth-child(2) {
  color: #c4c4c4;
}
#featured-product .product-wrap .product .content span {
  font-size: 12px;
  color: #ffcb45;
}

@media only screen and (min-width: 1120px) {
  #featured-product {
    padding: 150px 0px 130px 0px;
  }
  #featured-product h2 {
    margin-bottom: 30px;
  }
  #featured-product .product-wrap {
    column-gap: 20px;
  }
  #featured-product .product-wrap .product {
    width: 240px;
  }
  #featured-product .product-wrap .product .img-wrap {
    width: 240px;
    height: 225px;
  }
  #featured-product .product-wrap .product .img-wrap img {
    width: 140px;
  }
  #featured-product .product-wrap .product .content p:nth-child(1) {
    font-size: 16px;
  }
  #featured-product .product-wrap .product .content span {
    font-size: 14px;
  }
}
@media only screen and (min-width: 1920px) {
  #featured-product {
    padding: 200px 0px 167px 0px;
  }
  #featured-product h2 {
    margin-bottom: 40px;
  }
  #featured-product .product-wrap .product {
    width: 425px;
  }
  #featured-product .product-wrap .product .img-wrap {
    width: 425px;
    height: 400px;
  }
  #featured-product .product-wrap .product .img-wrap img {
    width: 250px;
  }
  #featured-product .product-wrap .product .content p:nth-child(1) {
    font-size: 18px;
  }
  #featured-product .product-wrap .product .content span {
    font-size: 15px;
  }
}
/*** About Our Services ***/
#about-our-services {
  padding: 40px 0px 88px 0px;
  background-color: #faf6f3;
}
#about-our-services .container h2 {
  text-align: center;
  margin-bottom: 40px;
}
#about-our-services .container .card-wrap {
  display: flex;
  flex-flow: column wrap;
  row-gap: 40px;
}
#about-our-services .container .card-wrap .card h5 {
  margin-bottom: 10px;
}
#about-our-services .container .card-wrap .card .person {
  margin-top: 15px;
  display: flex;
  align-items: center;
  column-gap: 7px;
}
#about-our-services .container .card-wrap .card .person .img-wrap {
  width: 40px;
  height: 40px;
}
#about-our-services .container .card-wrap .card .person .img-wrap img {
  width: 100%;
  border-radius: 50%;
}
#about-our-services .container .card-wrap .card .person h5 {
  margin-bottom: 0px;
}

@media only screen and (min-width: 1120px) {
  #about-our-services {
    padding: 50px 0px 130px 0px;
  }
  #about-our-services .container h2 {
    margin-bottom: 80px;
  }
  #about-our-services .container .card-wrap {
    flex-flow: row wrap;
    column-gap: 45px;
  }
  #about-our-services .container .card-wrap .card {
    width: 310px;
    height: 250px;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
  }
}
@media only screen and (min-width: 1920px) {
  #about-our-services {
    padding: 86px 0px 200px 0px;
  }
  #about-our-services .container h2 {
    margin-bottom: 110px;
  }
  #about-our-services .container .card-wrap {
    column-gap: 70px;
  }
  #about-our-services .container .card-wrap .card {
    height: 286px;
    width: 540px;
  }
}
/*** Make Your Room ***/
#make-your-room {
  padding: 100px 0px;
}
#make-your-room .container .img-wrap {
  max-width: 335px;
  margin-bottom: 40px;
}
#make-your-room .container .img-wrap img {
  max-width: 100%;
}
#make-your-room .container .content h2 {
  margin-bottom: 20px;
}
#make-your-room .container .content p:nth-child(3) {
  margin: 30px 0px 20px 0px;
}
#make-your-room .container .content .email-wrap {
  max-width: 280px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 5px 5px 10px;
  border: 1px solid #fadcd9;
  border-radius: 30px;
  background-color: #faf6f3;
}
#make-your-room .container .content .email-wrap input {
  background: none;
  border: none;
}
#make-your-room .container .content .email-wrap ::placeholder {
  color: #f79489;
  font-size: 10px;
}
#make-your-room .container .content .email-wrap button {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: #fadcd9;
  border: none;
}
#make-your-room .container .content .email-wrap button span {
  color: #f79489;
}

@media only screen and (min-width: 1120px) {
  #make-your-room {
    padding: 150px 0px;
  }
  #make-your-room .container {
    display: flex;
    column-gap: 40px;
  }
  #make-your-room .container .img-wrap {
    max-width: 455px;
  }
  #make-your-room .container .content .email-wrap {
    max-width: 330px;
    height: 45px;
    margin-top: 30px;
  }
  #make-your-room .container .content .email-wrap ::placeholder {
    font-size: 12px;
  }
  #make-your-room .container .content .email-wrap button {
    width: 34px;
    height: 34px;
  }
}
@media only screen and (min-width: 1920px) {
  #make-your-room {
    padding: 200px 0px;
  }
  #make-your-room .container {
    column-gap: 60px;
  }
  #make-your-room .container .img-wrap {
    max-width: 860px;
  }
  #make-your-room .container .content p:nth-child(3) {
    display: block;
    margin: 50px 0px 40px 0px;
  }
  #make-your-room .container .content .email-wrap {
    max-width: 400px;
    height: 60px;
    padding: 0px 8px 0px 20px;
    margin-top: 0px;
  }
  #make-your-room .container .content .email-wrap ::placeholder {
    font-size: 14px;
  }
  #make-your-room .container .content .email-wrap button {
    width: 44px;
    height: 44px;
  }
}
/*** Footer ***/
footer {
  background: linear-gradient(300.41deg, #000000 31.42%, #4b4b4b 117.78%);
  padding: 20px 0px 28px 0px;
}
footer .links {
  display: flex;
  flex-flow: column wrap;
  row-gap: 40px;
  margin-bottom: 100px;
}
footer .links .img-wrap {
  max-width: 124px;
}
footer .links .img-wrap img {
  width: 100%;
}
footer .links ul h5 {
  margin-bottom: 10px;
  color: #fadcd9;
}
footer .links ul li {
  margin-bottom: 20px;
}
footer .links ul li a {
  color: white;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
}
footer .bottom {
  text-align: center;
}
footer .bottom a {
  color: white;
}

@media only screen and (min-width: 1120px) {
  footer {
    background: linear-gradient(275.58deg, #000000 0%, #4b4b4b 100%);
    padding: 50px 0px 35px 0px;
  }
  footer .links {
    flex-flow: row wrap;
    justify-content: space-between;
  }
  footer .links .img-wrap {
    max-width: 184px;
  }
  footer .links ul h5 {
    margin-bottom: 20px;
  }
  footer .links ul li {
    margin-bottom: 24px;
  }
  footer .links ul li a {
    font-size: 16px;
  }
}
@media only screen and (min-width: 1920px) {
  footer {
    background: linear-gradient(275.58deg, #000000 0%, #4b4b4b 100%);
    padding: 100px 0px 40px 0px;
  }
  footer .links .img-wrap {
    max-width: 238px;
  }
  footer .links ul li a {
    font-size: 18px;
  }
}

/*# sourceMappingURL=style.css.map */
