/*** Fonts ***/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
/*** Variables ***/
/*** Global Style ***/
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
li,
p,
a,
span {
  font-family: "Poppins";
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 18px;
  font-weight: 600;
  color: white;
}

h2 {
  font-weight: 500;
  font-size: 18px;
  color: #564e4e;
  margin-bottom: 20px;
}

h5 {
  font-size: 14px;
  font-weight: 500;
  color: #564e4e;
}

@media only screen and (min-width: 1120px) {
  h1 {
    font-size: 32px;
  }
  h2 {
    font-size: 24px;
  }
  h5 {
    font-size: 18px;
  }
}
@media only screen and (min-width: 1920px) {
  h1 {
    font-size: 48px;
  }
  h2 {
    font-size: 36px;
  }
  h5 {
    font-size: 24px;
  }
}
/*** Common class ***/
.container {
  max-width: 335px;
  margin: auto;
}

.common-pera {
  font-size: 12px;
  font-weight: 400;
  color: #564e4e;
  line-height: 18px;
}

.small-text {
  font-size: 12px;
  font-weight: 300;
  color: #564e4e;
}

@media only screen and (min-width: 1120px) {
  .container {
    max-width: 1020px;
  }
  .common-pera {
    font-size: 16px;
    line-height: 24px;
  }
  .small-text {
    font-size: 14px;
  }
}
@media only screen and (min-width: 1920px) {
  .container {
    max-width: 1760px;
  }
  .common-pera {
    font-size: 18px;
    line-height: 200%;
  }
}
/*** About Our Services ***/
#about-our-services {
  padding: 40px 0px 88px 0px;
  background-color: #faf6f3;
}
#about-our-services .container h2 {
  text-align: center;
  margin-bottom: 40px;
}
#about-our-services .container .card-wrap {
  display: flex;
  flex-flow: column wrap;
  row-gap: 40px;
}
#about-our-services .container .card-wrap .card h5 {
  margin-bottom: 10px;
}
#about-our-services .container .card-wrap .card .person {
  margin-top: 15px;
  display: flex;
  align-items: center;
  column-gap: 7px;
}
#about-our-services .container .card-wrap .card .person .img-wrap {
  width: 40px;
  height: 40px;
}
#about-our-services .container .card-wrap .card .person .img-wrap img {
  width: 100%;
  border-radius: 50%;
}
#about-our-services .container .card-wrap .card .person h5 {
  margin-bottom: 0px;
}

@media only screen and (min-width: 1120px) {
  #about-our-services {
    padding: 50px 0px 130px 0px;
  }
  #about-our-services .container h2 {
    margin-bottom: 80px;
  }
  #about-our-services .container .card-wrap {
    flex-flow: row wrap;
    column-gap: 45px;
  }
  #about-our-services .container .card-wrap .card {
    width: 310px;
    height: 250px;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
  }
}
@media only screen and (min-width: 1920px) {
  #about-our-services {
    padding: 86px 0px 200px 0px;
  }
  #about-our-services .container h2 {
    margin-bottom: 110px;
  }
  #about-our-services .container .card-wrap {
    column-gap: 70px;
  }
  #about-our-services .container .card-wrap .card {
    height: 286px;
    width: 540px;
  }
}
/*** Make Your Room ***/
#make-your-room {
  padding: 100px 0px;
}
#make-your-room .container .img-wrap {
  max-width: 335px;
  margin-bottom: 40px;
}
#make-your-room .container .img-wrap img {
  max-width: 100%;
}
#make-your-room .container .content h2 {
  margin-bottom: 20px;
}
#make-your-room .container .content p:nth-child(3) {
  margin: 30px 0px 20px 0px;
}
#make-your-room .container .content .email-wrap {
  max-width: 280px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 5px 5px 10px;
  border: 1px solid #fadcd9;
  border-radius: 30px;
  background-color: #faf6f3;
}
#make-your-room .container .content .email-wrap input {
  background: none;
  border: none;
}
#make-your-room .container .content .email-wrap ::placeholder {
  color: #f79489;
  font-size: 10px;
}
#make-your-room .container .content .email-wrap button {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: #fadcd9;
  border: none;
}
#make-your-room .container .content .email-wrap button span {
  color: #f79489;
}

@media only screen and (min-width: 1120px) {
  #make-your-room {
    padding: 150px 0px;
  }
  #make-your-room .container {
    display: flex;
    column-gap: 40px;
  }
  #make-your-room .container .img-wrap {
    max-width: 455px;
  }
  #make-your-room .container .content .email-wrap {
    max-width: 330px;
    height: 45px;
    margin-top: 30px;
  }
  #make-your-room .container .content .email-wrap ::placeholder {
    font-size: 12px;
  }
  #make-your-room .container .content .email-wrap button {
    width: 34px;
    height: 34px;
  }
}
@media only screen and (min-width: 1920px) {
  #make-your-room {
    padding: 200px 0px;
  }
  #make-your-room .container {
    column-gap: 60px;
  }
  #make-your-room .container .img-wrap {
    max-width: 860px;
  }
  #make-your-room .container .content p:nth-child(3) {
    display: block;
    margin: 50px 0px 40px 0px;
  }
  #make-your-room .container .content .email-wrap {
    max-width: 400px;
    height: 60px;
    padding: 0px 8px 0px 20px;
    margin-top: 0px;
  }
  #make-your-room .container .content .email-wrap ::placeholder {
    font-size: 14px;
  }
  #make-your-room .container .content .email-wrap button {
    width: 44px;
    height: 44px;
  }
}
/*** Footer ***/
footer {
  background: linear-gradient(300.41deg, #000000 31.42%, #4b4b4b 117.78%);
  padding: 20px 0px 28px 0px;
}
footer .links {
  display: flex;
  flex-flow: column wrap;
  row-gap: 40px;
  margin-bottom: 100px;
}
footer .links .img-wrap {
  max-width: 124px;
}
footer .links .img-wrap img {
  width: 100%;
}
footer .links ul h5 {
  margin-bottom: 10px;
  color: #fadcd9;
}
footer .links ul li {
  margin-bottom: 20px;
}
footer .links ul li a {
  color: white;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
}
footer .bottom {
  text-align: center;
}
footer .bottom a {
  color: white;
}

@media only screen and (min-width: 1120px) {
  footer {
    background: linear-gradient(275.58deg, #000000 0%, #4b4b4b 100%);
    padding: 50px 0px 35px 0px;
  }
  footer .links {
    flex-flow: row wrap;
    justify-content: space-between;
  }
  footer .links .img-wrap {
    max-width: 184px;
  }
  footer .links ul h5 {
    margin-bottom: 20px;
  }
  footer .links ul li {
    margin-bottom: 24px;
  }
  footer .links ul li a {
    font-size: 16px;
  }
}
@media only screen and (min-width: 1920px) {
  footer {
    background: linear-gradient(275.58deg, #000000 0%, #4b4b4b 100%);
    padding: 100px 0px 40px 0px;
  }
  footer .links .img-wrap {
    max-width: 238px;
  }
  footer .links ul li a {
    font-size: 18px;
  }
}

/*# sourceMappingURL=style.css.map */
