/*** Fonts ***/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

/*** Variables ***/
$poppins: "Poppins";
$white: #ffff;
$brown: #564e4e;
$pink: #fadcd9;
$thinpink: #faf6f3;
$orange: #f79489;
$thinsky: #f6f6f6;
$gray: #c4c4c4;
$golden: #ffcb45;

@mixin media($screen) {
  @media only screen and (min-width: $screen) {
    @content;
  }
}

/*** Global Style ***/
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
li,
p,
a,
span {
  font-family: $poppins;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
h1 {
  font-size: 18px;
  font-weight: 600;
  color: $white;
}
h2 {
  font-weight: 500;
  font-size: 18px;
  color: $brown;
  margin-bottom: 20px;
}
h5 {
  font-size: 14px;
  font-weight: 500;
  color: $brown;
}
@include media(1120px) {
  h1 {
    font-size: 32px;
  }
  h2 {
    font-size: 24px;
  }
  h5 {
    font-size: 18px;
  }
}
@include media(1920px) {
  h1 {
    font-size: 48px;
  }
  h2 {
    font-size: 36px;
  }
  h5 {
    font-size: 24px;
  }
}

/*** Common class ***/
.container {
  max-width: 335px;
  margin: auto;
}
.common-pera {
  font-size: 12px;
  font-weight: 400;
  color: $brown;
  line-height: 18px;
}
.small-text{
  font-size: 12px;
  font-weight: 300;
  color: $brown;
}
@include media(1120px) {
  .container {
    max-width: 1020px;
  }
  .common-pera {
    font-size: 16px;
    line-height: 24px;
  }
  .small-text{
    font-size: 14px;
  }
}
@include media(1920px) {
  .container {
    max-width: 1760px;
  }
  .common-pera {
    font-size: 18px;
    line-height: 200%;
  }
}

@import "./_featured-product";
@import "./_about-our-services";
@import "./_make-your-room";
@import "./footer";
